[Desktop Entry]
Name=B2G
Comment=B2G
Exec=b2g
Terminal=false
MultipleArgs=false
Type=Application
Icon=b2g.png
Categories=Application;Internet;Network;
SingleInstance=true

